/* === Fonts === */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

/* === GERAIS === */
body,
html {
  font-family: var(--body-font-family);
  color: var(--bs-black);
  background-image: url(/img/bg.svg);
}

/* === HEADER === */
#header {
  width: 100%;
  background-color: var(--main-white);
  transition: background ease-out 0.2s;
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.1);
}

#header .nav-collapse {
  width: auto;
}

#header .nav-link {
  font-weight: var(--font-regular);
  padding-left: 0;
  padding-right: 0;
  border-bottom: solid 2px transparent;
}

/* Mudança ao passar o mouse */
#header .nav-link:hover {
  border-bottom: solid 2px var(--blue-main);
}

/* === INTRODUÇÃO === */

/* Ajuste no posicionamento do container */
#main .container-fluid {
  padding-right: calc(var(--bs-gutter-x) * 1.5);
  padding-left: calc(var(--bs-gutter-x) * 1.5);
}

#main h6 {
  font-weight: var(--font-extralight);
  margin-bottom: 100px;
}

#main p {
  font-size: 1rem;
  font-weight: var(--font-extralight);
}

/* === SERVIÇOS === */
#services {
  width: 100%;
  background-image: linear-gradient(#3db3e5, #388efc);
}

#services img {
  max-height: 5rem;
}

#services a.service {
  display: block;
  min-height: 250px;
  background: var(--main-white);
  border-radius: 40px;
  text-align: center;
  padding: 10px 20px;
  color: var(--main-black);
  text-decoration: none;
  transition: all ease-out 0.2s;
}

#services a.service:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

#services h6 {
  color: var(--main-black);
  font-weight: var(--font-semibold);
  max-height: 48px;
}

#services p {
  color: var(--grey-medium);
  font-size: 0.7rem;
}

/* === PARCEIROS === */

#parceiros a.link-parceiros {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  transition: all ease-out 0.2s;
}

#parceiros a.link-parceiros:hover {
  transform: scale(1.05);
  color: var(--main-white);
  opacity: 1;
}

#parceiros a.link-parceiros img {
  color: var(--grey-normal);
  max-height: 30px;
  width: 100%;
  opacity: 0.5;
}

#parceiros a.link-parceiros:hover img {
  color: var(--main-white);
  opacity: 1;
}

/* === MAIS INFORMAÇÕES === */
#info .title::after {
  width: 25%;
  position: absolute;
  padding-top: 3rem;
  left: 5%;
}

#info span {
  font-size: 1.5rem;
}

/* === EXAMPLES === */
#examples {
  width: 100%;
  background: linear-gradient(#3db3e5, #388efc);
  background-size: cover;
}

#examples .row {
  background: var(--main-white);
  background-size: contain;
  border-radius: 5px;
}

#examples p {
  font-size: 0.7rem;
  min-height: 67.188px;
}

#examples img {
  max-height: 5rem;
}

#examples .line {
  min-width: 100%;
  min-height: 100%;
}

/* === VANTAGENS === */
#vantages {
  text-align: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

#vantages .vantage-box {
  margin-bottom: 50px;
}

#vantages img {
  max-height: 4rem;
}

#vantages p {
  font-size: 1rem;
}

.vantage-box img,
.vantage-box h4 {
  transition: 0.2s;
}

.vantage-box:hover > img,
.vantage-box:hover > h4 {
  color: var(--blue-main);
}
