@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  /*=== Color Pallet ===*/

  --blue-main: #3db3e5;
  --blue-normal: #0077c7;
  --blue-medium: #004a7b;
  --blue-medium-dark: #003a61;
  --blur-dark: #0f0b21;
  --main-white: #fdfdfd;
  --main-black: #2f2f2f;
  --main-red: #bb0e1b;
  --grey-light: #e7e7e7;
  --grey-normal: #bababa;
  --grey-medium: #7a7a7a;
  --grey-dark: #3b3b3b;
  --input-color-light: #6e6e6e;

  /* === Typography === */

  --body-font-family: "Poppins", sans-serif;
  --font-extralight: 300;
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;
}

body,
html {
  font-family: var(--body-font-family);
  color: var(--bs-black);
  background-image: url(/img/bg.svg);
}

#header {
  width: 100%;
  background-color: var(--main-white);
  transition: background ease-out 0.2s;
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.1);
}

#header .navbar-collapse {
  width: auto;
}

.div__button {
  width: 162px;
  margin-left: 16px;
}

.btn-login {
  padding: 10px 30px;
  color: var(--bs-white);
  font-weight: var(--font-semibold);
  font-size: 0.85rem;
  letter-spacing: 0.05em;
  background: linear-gradient(180deg, #39dbff 0%, #3db3e5 100%, #3db3e5 100%);
  box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  border: 0;
}
