/* === FORMATAÇÃO PARAGRAFOS E LISTAS === */
p,
li {
  color: var(--main-black);
  font-size: 1rem;
}

i {
  color: var(--blue-main);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: var(--main-white);
}

a:hover {
  color: var(--blue-main);
}

/* Cor do Span */
span {
  color: var(--blue-main);
  font-weight: var(--font-semibold);
}

.main-title {
  color: var(--blue-main);
  font-weight: var(--font-semibold);
}

.title {
  color: var(--blue-main);
  font-weight: var(--font-semibold);
  font-size: 2rem;
  margin: 0 0 4rem 0;
}

.title::after {
  content: "";
  border-bottom: 2px solid var(--blue-main);
  width: 15%;
  position: absolute;
  padding-top: 3rem;
  left: 42.5%;
}

.sub-title {
  color: var(--main-black);
  font-weight: var(--font-semibold);
}

.title-white {
  color: var(--main-white);
  font-weight: var(--font-semibold);
  font-size: 2rem;
  margin: 0 0 4rem 0;
}

.title-white::after {
  content: "";
  border-bottom: 2px solid var(--main-white);
  width: 15%;
  position: absolute;
  padding-top: 3rem;
  left: 42.5%;
}

.button {
  text-transform: capitalize;
  padding: 10px 30px;
  color: var(--main-white);
  font-weight: var(--font-semibold);
  font-size: 0.85rem;
  letter-spacing: 0.05em;
  background: linear-gradient(180deg, #39dbff 0%, #3db3e5 100%, #3db3e5 100%);
  box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  transition: 0.5s;
}

/* Mudança de cor do texto ao passar mouse */
.button:hover {
  color: var(--grey-light);
}

.row {
  margin: 0;
}

.container {
  padding: 4rem 0;
}
